<div class="confirm-delete">
  <h1>Are you sure you want to delete this playlist</h1>
  <div class="button-items">
    <button type="button" class="button" (click)="closePopup.emit(false)">CANCEL</button>
    <button type="submit" class="button green" name="button" (click)="closePopup.emit(true)">Delete</button>
  </div>
</div>
