<div class="user-details">
  <div class="container border-bottom">
      <h2>EMAIL</h2>
      <input type="text" name="email" class="email" placeholder="Email address" >
      <span class="message"></span>
      <button type="button" class="button">Save</button>
  </div>
  <div class="container">
    <h2>Password</h2>
    <input type="password" name="oldPassword" class="password" placeholder="Current Password" >
    <span class="message"></span>

    <input type="password" name="newPassword1" class="password" placeholder="New Password" >
    <span class="message"></span>

    <input type="password" name="newPassword1" class="password" placeholder="Confirm Password" >
    <span class="message"></span>

    <button type="button" class="button">Save</button>
  </div>

</div>
