.user-details {
  margin: 20px;
  .container {
    h2 {
      text-align: center;
    }
    .email {
    }

    .message {
      color: #2ebd59;
      font-weight: 300;
    }

    input[type="text"],
    input[type="password"] {
      height: 50px;
      width: 100%;
      background-color: #1f1f1f;
      border: none;
      font-size: 18px;
      font-weight: 300;
      padding: 0 20px;
      outline: none;
    }
    input[type="text"],
    input[type="password"],
    .button {
      display: block;
      margin: 16px auto;
    }
  }
}
