  <div class="authPageContainer">
    <div id="inputContainer">
      <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>Regester for your free account</h2>
          <div class="form-field">
            <label for="usersername">Username</label>
            <input type="text"  id="usersername" name="usersername"  placeholder="lukeCage" formControlName="username">
            <span class="form-field__error" *ngIf="fields.username?.touched && fields.username?.errors?.required">Username is required</span>
            <span class="form-field__error" *ngIf="fields.username?.touched && fields.username?.errors?.minlength">A minimum of 6 characters is required</span>
          </div>
          <div class="form-field">
            <label for="firstname">First name</label>
            <input type="text"  id="firstname" name="firstname"  placeholder="luke" formControlName="firstname">
            <span class="form-field__error" *ngIf="fields.firstname?.touched && fields.firstname?.errors?.required">FIrst name is required</span>
          </div>
          <div class="form-field">
            <label for="lastname">Last name</label>
            <input type="text"  id="lastname" name="lastname"  placeholder="cage" formControlName="lastname">
            <span class="form-field__error" *ngIf="fields.lastname?.touched && fields.lastname?.errors?.required">Last name is required</span>
          </div>
          <div class="form-field">
            <label for="email">Email</label>
            <input type="email"  id="email" name="email"  placeholder="lukecage@gmail.com" formControlName="email">
            <span class="form-field__error" *ngIf="fields.email?.touched && fields.email?.errors?.required">Email is required</span>
            <span class="form-field__error" *ngIf="fields.email?.touched && fields.email?.errors?.email">A Valid Email is required</span>
          </div>
          <div class="form-field">
            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" formControlName="password1">
            <span class="form-field__error" *ngIf="fields.password1?.touched && fields.password1?.errors?.required">Password is required</span>
            <span class="form-field__error" *ngIf="fields.password1?.touched && fields.password1?.errors?.minlength">A minimum of 6 characters is required</span>
          </div>
          <div class="form-field">
            <label for="password2">Confirm password</label>
            <input type="password" id="password2" name="password2" formControlName="password2">
            <span class="form-field__error" *ngIf="fields.password2?.touched && fields.password2?.errors?.required">Password confirmation is required</span>
            <span class="form-field__error" *ngIf="fields.password2?.touched && fields.password2?.errors?.minlength">A minimum of 6 characters is required</span>
          </div>
          <button type="submit" name="loginButton" [disabled]="!registerForm.valid">Sign up</button>
          <div class="hasAccountText">
            <a [routerLink]="['/auth/login']">Already  have an account? Login here</a>
          </div>
      </form>
    </div>
  </div>
