.playlist-container {
  .grid-view-container {
    h2 {
      text-align: center;
    }
    .button-items {
      .button {
        display: block;
        margin: 0 auto 20px auto;
      }
    }
  }
}
