<div class="add-to-playlist">
    <div class="x" (click)="closePopup.emit(false)"><b></b><b></b><b></b><b></b></div>
    <div class="title-row">
      <h1>Add to Playlist</h1>
      <button class="button green" (click)="lauchCreatePlaylistPopup()">Create Playlist</button>
    </div>

  <spotify-lite-playlist-grid [playlists]="playlists" (selectPlaylist)="addToPlaylist($event)"></spotify-lite-playlist-grid>
</div>
