  <ng-container *ngIf="album">
    <div class="entity-info">
      <div class="entity-info__left">
        <img [src]="album?.album_artwork" class="albums-grid__item__art"  alt="" (click)="goToAlbum(album)">
      </div>
      <div class="entity-info__right">
        <h2 class="album-title">{{album?.album_name}}</h2>
        <p class="artist-name" [routerLink]="['/core/artist', album?.artist_id]">By {{album?.artist_name}}</p>
        <p>{{album?.tracks.length}} Songs</p>
      </div>
    </div>
    <div class="track-list-container">
     <spotify-lite-song-list [songs]="album?.tracks" (playSong)="onTrackClick($event)" [optionsAlowed]="optionsAlowed"></spotify-lite-song-list>
    </div>
  </ng-container>
