.entity-info {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
  &__left {
    width: 30%;
    max-width: 250px;
    float: left;
    img {
      width: 100%;
    }
  }
  &__right {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
    .album-title {
      margin-top: 0;
    }
    p {
      color: #939393;
      font-weight: 200px;
    }
  }
}

.track-list-container {
  ::ng-deep {
    spotify-lite-song-list {
      .track-list {
        padding-bottom: 171px;
      }
    }
  }
}
