<form  class="create-playlist-container" [formGroup]="playlistForm" (ngSubmit)="onSubmit()" novalidate>
  <h1>Create Playlist</h1>
  <div class="form-field">
    <h4>Playlist Name</h4>
    <input type="text" name="name" class="playlist-name" placeholder="Start Typing"  formControlName="name">
  </div>

  <div class="button-items">
    <button type="button" class="button" (click)="closePopup.emit(true)">CANCEL</button>
    <button type="submit" class="button green" name="button">CREATE</button>
  </div>

</form>
