:host {
  width: 100%;
}
.create-playlist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-field {
    background-color: #242424;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      margin: 0;
      font-weight: 500;
      color: #fff;
    }
    .playlist-name {
      width: 85%;
      background-color: transparent;
      border: none;
      color: #fff;
      font-weight: 500;
      font-size: 53px;
      letter-spacing: 2px;
      outline: none;
    }
  }
  .button-items {
    margin: 0 auto;
    .button {
      display: inline-block;
      margin: 16px;
    }
  }
}
