<div class="artist-page">
  <div class="artist-page__top border-bottom">
    <h1 class="name">
      {{artist?.artist_name}}
    </h1>
    <button  class="button green" name="button">Play</button>
  </div>
  <div class="track-list-container border-bottom">
    <h1 class="s-title">Populor</h1>
   <spotify-lite-song-list [songs]="artist?.topTracks" (playSong)="onTrackClick($event)" [optionsAlowed]="optionsAlowed"></spotify-lite-song-list>
  </div>
  <div class="artist-page__bottom">
    <div class="album-list-container border-bottom">
      <h1 class="s-title">Albums</h1>
      <spotify-lite-album-grid [albums]="artist?.albums" (goToAlbum)="onGoToAlbum($event)"></spotify-lite-album-grid>
    </div>
      <div class=" singles-ep-container" *ngIf="artist?.eps.length > 0">
        <h1 class="s-title">Singles and EPs</h1>
        <spotify-lite-album-grid [albums]="artist?.eps" (goToAlbum)="onGoToAlbum($event)"></spotify-lite-album-grid>
      </div>
  </div>

</div>
