.navigation-bar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  .logo {
    img {
      width: 64px;
    }
  }

  .nav-groping {
    border-top: 2px solid #a0a0a0;
    padding: 10px 0;
    .nav-item {
      padding: 10px 0;
      font-size: 14px;
      font-weight: 700;
      display: block;
      letter-spacing: 1px;
      position: relative;
      .nav-item__link {
        cursor: pointer;
        color: #a0a0a0;
        text-decoration: none;
        transition: color 300ms ease;
        &:hover {
          color: #fff;
        }
        .icon {
          position: absolute;
          top: 6px;
          right: 0;
          width: 35px;
        }
      }
    }
  }
}
