<nav class="options-menu">
  <input type="hidden" class="song-id" name="" value="">
  <div class="options-menu__items">
    <div class="options-menu__item" *ngFor="let option of options" (click)="onSelction(option)">
      {{option.label}}
    </div>
  </div>

</nav>
