.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .center-section {
    .user-info {
      text-transform: capitalize;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button {
      margin-top: 20px;
    }
  }
}
