$green: #2ebd59;
.alert-container {
  background-color: $green;
  width: 100vw;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .x {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    //border: solid 2px #fff;
    transition: all 0.3s ease-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    b {
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      border: solid 15px rgba(255, 255, 255, 0);
      &:nth-child(1) {
        border-top-color: $green;
        top: -2px;
      }
      &:nth-child(2) {
        border-left-color: $green;
        left: -2px;
      }
      &:nth-child(3) {
        border-bottom-color: $green;
        bottom: -2px;
      }
      &:nth-child(4) {
        border-right-color: $green;
        right: -2px;
      }
    }
    &:hover {
      //background: #bb3333;
      transform: scale(1.1);
    }
  }
}
