<div class="container">
  <!-- <spotify-lite-alert></spotify-lite-alert> -->
  <div class="top">
    <div class="side-bar">
      <spotify-lite-navigation></spotify-lite-navigation>
    </div>
    <div class="content">
      <router-outlet ></router-outlet>
    </div>
  </div>

  <div class="footer">
    <spotify-lite-now-playing-bar></spotify-lite-now-playing-bar>
  </div>
</div>
