:host {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .top {
    display: flex;
    .side-bar {
      background-color: #000;
      height: 100vh;
      width: 15%;
    }

    .content {
      width: 85%;
      background-color: #181818;
      font-size: 14px;
      min-width: 720px;
      padding: 20px 20px 40px 20px;
      height: 100vh;
      overflow-y: scroll;
    }
  }

  .footer {
    width: 100%;
  }
}
